@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 style="margin-right:inherit; color:#A93226 ;">@ViewData["Title"]</h1>

<p style="color:seagreen;">At CONTEXT SOFTWARE HOUSE, we take your privacy seriously. When you use our services, you’re trusting us with your information. We understand this is a big responsibility and work diligently to protect your information and put you in control. We only collect the minimum amount of personal information necessary to provide our services effectively. This information is never shared with third parties without your explicit consent unless required by law. Our privacy practices are transparent, and we are committed to maintaining the confidentiality and security of your personal data. If you have any questions or concerns about our privacy practices, please don't hesitate to contact us.</p>
